/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
reports
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.cpcache/
/.idea/
/classes/
/resources/
/target/
/frosty
/pyjama
/pyjama.iml
.clj-kondo
/agents.edn
/.lsp/.cache/db.transit.json
/.calva/output-window/output.calva-repl
/.idea/
/docs/generated.md
secrets.edn
alan.md
doc
/pyjamamazing
/.lsp/
demos/dashboard/output/*.log
